@import "tailwindcss";
.ProseMirror {
  outline: none;
  min-height:12px;
  
  
  padding: 12px;
  
}
:root {
  --black: #0d0c0c;
  --white: #ffffff;
  --gray-2: #e5e7eb;
  --gray-3: #d1d5db;
  --purple-light: #ede9fe;
}
